.panouClient{
    margin-top: 2vh;
    width: 100%;
}
.panouClientP{
    color: #946b45;
    font-size: larger;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.firstRowPanouClient{
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
}
.secondRowPanouClient{
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    margin-left: 13vh;
    margin-bottom: 5vh;
}

.secondRowPanouClientAdd{
    margin-top: -1vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    width: 101%;
}
.firstRowPanouClientFirstColumn{
    width: 10%;
    text-align: left;
    margin-top: 1.5vh;
}
.firstRowPanouClientSecondColumn{
    width: 90%;
}
.firstRowPanouClientFirstColumnLabel{
    width: 10%;
    color: #946b45;
    font-weight: bold;
}
.firstRowPanouClientTextBoxDenumire{
    color:#946b45;
    font-size: 2vh;
    height: 5vh;
    width: 100%;
    justify-content: center;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
.firstRowPanouClientTextBoxDescriere{
    font-size: 2vh;
    color:#946b45;
    width: 100%;
    height: 10vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;

}
.firstRowPanouClientTextBoxImagine{
    color:#946b45;
    font-size: 2vh;
    width: 40vw;
    height: 40vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;

}
.firstRowPanouClientButton{
    text-align: center;
    width: 100%;
    display: flex;
}

.firstRowPanouClientiSubmitButton1,.firstRowPanouClientiSubmitButton2,.firstRowPanouClientInsertButton{
    height: 5vh;
    width: 50%;
    background-color: #946b45;
    color: white;
    font-weight: bold;
    border: #946b45;
    border-radius: 2vh;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.firstRowPanouClientiSubmitButton2{
    margin-right: -0.5vw;
    margin-left: 1vw;
}
.firstRowPanouClientiSubmitButton1:hover,.firstRowPanouClientiSubmitButton2:hover{
    background-color: #d69c3e;
}
.firstRowPanouClientInsertButton{
    margin-top: 5vh;
    margin-left: 6vw;
    width: 99vw !important;
}
.firstRowPanouClientInsertButton:hover{
    background-color: #d69c3e;
}
.selectClient{
    color:#946b45;
    font-size: 2vh;
    height: 5vh;
    width: 101%;
    justify-content: center;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
.adminClientiPanou{
    display: flex;
}
.adminClientSpecificatColumn{
    width: 60%;

}
.adminAdaugareClientColumn{
    width: 60%;
}