.card_notes{
  color:#946b4599;
}
.card_notes_info{
  color:#856a4b;
  font-weight: bold;
}
.card_notes_description{
  color:#856a4b;
  text-align: justify;
  height: 17vh !important;
}
.card_echipa,.card_body_echipa,.card{
  font-family: 'Times New Roman', Times, serif;
}
.card_body_echipa{
  height: 84vh;
  width: 18vw;
}

.echipa{
  margin-top: 1.4vh;
}
.card_image_echipa{
  max-width: 200%;
  width: 18.7vw;
  height: 30vh;
  border-radius: 20px;
}
.info:hover{
  color:#d69c3e;;
}