body {
  font-family: Oxygen, sans-serif;
  width: 82.5vw;
  justify-content: center;
  display: flex;
}
.divCategorie{
  margin-top: 1.5vh;
}
.card_bodyCat{
  margin-top: 1vh;
  color: #222222;
  vertical-align: top;
  width: 18vw;
  height: 84vh;
  display:inline-block;
  padding: 0 20px 0 20px;
  transition: all 0.5s ease-in-out;
}
.card_bodyCat:hover{
  box-shadow: inset;
  -webkit-box-shadow: 0 0 10px #946b45;
}
.card_title {
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  
}
.card_description {
  text-align: justify;
  height: 17vh !important;
  font-family:'Times New Roman', Times, serif;
}
.card_image {
  width: 18vw;
  height: 30vh;
  border-radius: 20px;
}
.card_button {
  margin-bottom: 30px;
  margin-top: 6vh;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  height: 5vh;
  font-weight: bold;
  color: white;
  background: #946b45;
  margin: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.card_button:hover{
  background-color: #d69c3e;
}