body {
  width: 82.5vw;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  margin-top: 10vh;
  
 
}
.serviciiBody{
  width: 82.5vw;
}
.serv{
  margin-top: 2vh;
  padding-left: -1vw;;
  margin-bottom: 5vh;
}
.card {
  font-family: 'Times New Roman', Times, serif;
  display: inline;
  margin-bottom: 3vh !important;
}
.card_body,
.card {

  margin-left: -10px;
  color: #222222;
  vertical-align: top;
  width: 18vw;
  height: 84vh;
  display: inline-block;
  padding: 0 30px 0 20px;
  transition: all 0.5s ease-in-out;
}
.card_body{
  width:17vw;
}
.card_body:hover {
  box-shadow: inset;
  -webkit-box-shadow: 0 0 10px #946b45;
}
.card_title {
  color: #946b45;
  font-weight: bold;
}

.card_description {
  color:rgb(148 107 69);
  text-align: justify;
  height: 10vh;
}

.card_image {
  max-width: 200%;
  margin-top: 2vh;
  width: 17.8vw;
  height: 30vh;
  border-radius: 20px;
}
.card_benefits {
  margin-top: -3vh;
  color:rgb(148 107 69);
  font-family:'Times New Roman', Times, serif;
  text-align: justify;
  width: 18vw;
  height: 23vh;
}
.card_benefits_p {
  margin-top: 5vh;
  color: rgb(148 107 69);
  font-weight: bold;
}
.card_price_duration {
  height: 7vh;
  width: 6vw;
  background-color: #946b45;
  text-align: center;
  border-radius: 2vh;
  margin-top: -30.5vh;
  position: absolute;
  z-index: 1;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.card_price {
  margin-top: 0.7vh;
  display: inline-block;
  
}
