.rowAdmin{
    display: flex;

}
.column1Admin{
    width:30%;
}
.column2Admin{
    margin-top: 3vh;
    width:70%;
    height: 80vh;
    background-color: aquamarine;
}
.ulAdmin{
    margin-top: 16vh;
    color:white;
    list-style-type: none;
    font-weight: bold;
    font-size: 2.5vh;
}
.liAdmin{
    text-align: center;
    height: 6vh;
    margin-bottom: 3vh;
    background-color:#946b45;
    cursor: pointer;
    border-color: #946b45;
    border-radius: 3vh;
}
.liAdminP{
   text-align: center;
   line-height:6vh;
}
.h1AdminPage{
    color:#946b45;
    font-weight: bold;
    margin-top: 25vh;
    text-align: center;
}