.PopUpAdminDiv{
    height: 80vh;
    margin-top: 3vh;
    color: white;
    font-weight: bold;
    background-color: #946b45;
    border-color: #946b45;
    border-radius: 3vh;
    overflow-y: scroll;
}
.rowPopUpAdmin{
    display: flex;
    justify-content: center;
    
}
.PopUpAdminTitle{
    width: 90%;
}
.PopUpAdminDetails{
    margin-top: 3vh;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    font-style: italic;
}
.PopUpAdminCloseButton{
    color: white;
    width: 10%;
    font-size: 3vh;
    cursor: pointer;
    position:fixed;
    margin-left: 30vw;
}
