.rowAdminClientSpecificat{
    margin-top: 7vh;
}
.adminAngajatiRow{
    width: 50%;
    height: 85vh;
    margin-top: 2vh;
    margin-left: -9vw;
    text-align: left;
    /* border-radius: 5vh; */
    color: white;
    overflow-y: scroll;
}
.adminAngajatiRow2{
    text-align: center;
    justify-content: center;
    margin-top: 3.5vh;
    margin-left: 0.48vw;
    width: 28%;
    height: 7vh;
    background-color: #946b45;
    border-radius: 2vh;
 
}
.adminAngajatiRow2:hover{
    background-color: #d69c3e;
}
.adminAngajatiPanou{
    margin-top: -10vh;
    width: 100vw;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.adminAngajatiNavBar{
    width: 30%;
}
.adminAngajatiRow::-webkit-scrollbar { 
    width: 6px;
	background-color: #F5F5F5;
}
.adminAngajatiRow::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1); 
}
.adminAngajatiRow::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.adminAngajatiRow::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.adminAngajatiFirstRow{
    margin-top: -3vh;
}
.pAdminAngajatiRow{
    color:#946b45;
    font-size: 3vh;
}
.pAdminAngajatRow{
    margin-top: 0vh;
    margin-bottom: 1vh;
    font-size: 3vh;
}
.angajatChild{
    height:8vh;
    color: #946b45;
    margin-bottom: 5vh;
}

.pAdminVeziDetalii{
    width: 10vw;
    height: 4vh;
    color: white;
    font-size:1.5vh;
    background-color: #946b45;
    border: #946b45;
    border-radius: 1vh;
    cursor: pointer;
}
.pAdminVeziDetalii:hover{
    background-color: #d69c3e;
}
.pAdminAngajatiInsertButton{
    cursor: pointer;
    color:white;
    font-size: 3vh;
    margin-top: 1.7vh;
    margin-left: 3vw;
    width: 80%;
}

.hrAngajati{
    width: 25vw;
    margin-left: -4vw;
    height: 0.1vh;
    background-color:#946b45;
}
.rowAdminClientSpecificat{
    display: flex;
    width: 82.5vw;
}
.col1AdminAngajatiSpecificat{
    width: 30%;
}
.col2AdminAngajatiSpecificat{
    margin-left: 1vw;
    width: 65%;
}
.elementCaruselAngajati{
    width: 25vw;
    height: 45vh;
    margin-top: -5vh;
    padding-right: 5px;
    cursor: pointer;
}
.imgCaruselAngajati{
    margin-top: 8vh;
    width: 100%;
    height: 70%;
}
