.adminAngajatiPanou{
    display: flex;
}
.adminAngajatSpecificatColumn{
    width: 60%;

}
.adminAdaugareAngajatColumn{
    width: 60%;
}
.panouAngajat{
    margin-top: -3vh;
    width: 62.5vw;
    height: 82vh;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;
}
.panouAngajatInsert{
    margin-top: 2vh;
    width: 62.5vw;
    height: 90vh;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;
}
.panouAngajat::-webkit-scrollbar,.panouAngajatInsert::-webkit-scrollbar { 
    width: 6px;
	background-color: #F5F5F5;
}
.panouAngajat::-webkit-scrollbar-track,.panouAngajatInsert::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1); 
}
.panouAngajat::-webkit-scrollbar-thumb,.panouAngajatInsert::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.panouAngajat::-webkit-scrollbar:hover,.panouAngajatInsert::-webkit-scrollbar:hover {
    background-color: #946b45;
}
.panouAngajatP{
    color: #946b45;
    font-size: larger;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.firstRowPanouAngajat{
    width: 96%;
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
}
.secondRowPanouAngajat{
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    margin-left: 13vh;
    margin-bottom: 5vh;
}

.secondRowPanouAngajatAdd{
    margin-top: -1vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    width: 97%;
}

.firstRowPanouAngajatFirstColumn{
    width: 10%;
    text-align: left;
    margin-top: 1.5vh;
}
.firstRowPanouAngajatSecondColumn{
    width: 90%;
}
.firstRowPanouAngajatSecondColumnAddServicii{
    height: 12.3vh;
    overflow-y: scroll;
}
.firstRowPanouAngajatFirstColumnLabel{
    width: 10%;
    color: #946b45;
    font-weight: bold;
}
.firstRowPanouAngajatTextBoxDenumire{
    color:#946b45;
    font-size: 2vh;
    height: 5vh;
    width: 100%;
    justify-content: center;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
.firstRowPanouAngajatTextBoxDescriere{
    font-size: 2vh;
    color:#946b45;
    width: 100%;
    height: 10vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;

}
.firstRowPanouAngajatTextBoxImagine{
    color:#946b45;
    font-size: 2vh;
    width: 30vw;;
    height: 40vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;

}
.firstRowPanouAngajatButton{
    text-align: center;
    width: 100%;
    display: flex;
}

.firstRowPanouAngajatiSubmitButton1,.firstRowPanouAngajatiSubmitButton2,.firstRowPanouAngajatInsertButton{
    height: 5vh;
    width: 50%;
    background-color: #946b45;
    color: white;
    font-weight: bold;
    border: #946b45;
    border-radius: 2vh;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.firstRowPanouAngajatiSubmitButton2{
    margin-right: 1.7vw;
    margin-left: 1vw;
}
.firstRowPanouAngajatiSubmitButton1:hover,.firstRowPanouAngajatiSubmitButton2:hover{
    background-color: #d69c3e;
}
.firstRowPanouAngajatInsertButton{
    margin-top: 5vh;
    margin-left: 6vw;
    width: 99vw !important;
}
.firstRowPanouAngajatInsertButton:hover{
    background-color: #d69c3e;
}
.selectAngajat{
    color:#946b45;
    font-size: 2vh;
    height: 5vh;
    width: 101%;
    justify-content: center;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
input[type="file"] {
    margin-top: 1.3vh !important;
}