.footerMainDiv{
    background-color: #a3784f;
    height: 47vh;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
.footerInfo{
    margin-top: 4vh;
    margin-left: 2vw;
    width: 30%;
}
.contactUs{
    font-weight: bold;
    font-size: 3vh;
}
.contactMesaj{
    font-weight: bold;
    margin-bottom: 3.5vh;
}
.separate{
    width: 1%;
    background-color: white;
}
.footerContact{
    margin-top: 4.5vh;
    margin-left: 2vw;
}
.leaveMessage{
    font-weight: bold;
    font-size: 2.5vh;
}
.numeContact,.telefonContact,.emailContact,.mesajContact{
    width: 99.5%;
    height: 4vh;
    margin-bottom: 1vh;
    color: #a3784f;
}
.mesajContact{
    height: 8vh;
}
.sendMessage{
    margin-top: 0.5vh;
    width: 30%;
    height: 5vh;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #a3784f;
    font-weight: bold;
    font-size: 2vh;
    cursor: pointer;
}
.sendMessage:hover{
    background-color: #d69c3e;
    color: white;
}
.email{
    text-decoration: none;
    color:white;
}