body {
  font-family: Oxygen, sans-serif;
  justify-content: center;
}

.navBar_bodyAdmin {
  z-index: 2;
  background: #946b45;
  position: sticky;
  width: 20vw;
  height: 100vh !important;

}
.navBarRow{
  padding-top: 4.5vh;
}
.navBarColumn{
  width: 15%;
  padding-left: 2vw;
  padding-bottom: 4vh;
}
.navBarNavLink,.navBarNavButton{
  color: white;
  font-size: 3vh;
  text-decoration: none;
  cursor: pointer;
}
.navBarNavLink:hover,.navBarNavButton:hover{
  color:#ffc05b;
}
.navBarNavButton{
  margin-left: -1vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
  border: none;
  background-color: transparent;
}
.logo{
  margin-left: 0.9vw;
  margin-top: -7.3vh;
  width: 20vw !important;
}
.navBar_imgadmin{
  margin-top: 0;
  width: 18vw !important;
}