.MeniuClient{
    margin-top: 15vh;
    margin-right: 2vw;
    width: 18vw;
    height: 60vh;
    background-color:#946b45;
    border-radius: 2vh;
}
.meniuClientContent{
    margin-left: 2vw;
    margin-top: 5vh;
    color: white;
    font-weight: bold;
    font-size: 2.4vh;
}
.pMeniuClientContent{
    cursor: pointer;
}
.pMeniuClientContent:hover{
    color:#ffc05b;
}
.imgMeniuClient{
    margin-top: 25vh;
    margin-left: 3.7vw;
    width: 40%;
}