.navBarClientiButton{
    border: none;
    background-color: transparent;
    margin-left: 4.5vw;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    cursor: pointer
}