.panouDedicatClientMainDiv{
    margin-top: -10vh;
    width: 82vw  !important;
}
.panouDedicatClientFirstRow{
    margin-top: 10vh;
    display: flex;
}
.panouDedicatClientFirstRowInfo{
    width:75%;
    height: 80vh;
}
.panouDetaliiCont{
    margin-top: 15.5vh;
}
.firstRowPanouClientiSubmitButtonDetaliiCont{
    height: 5vh;
    margin-top: 2vh;
    margin-left: 6.1vw;
    width: 91%;
    background-color: #946b45;
    color: white;
    font-weight: bold;
    border: #946b45;
    border-radius: 2vh;
    cursor: pointer;
    
}
.firstRowPanouClientiSubmitButtonDetaliiCont:hover{
    background-color: #d69c3e;
}
.detaliiContWelcome{
    margin-top: 28vh;
    margin-left: 12vw;
    width: 35vw;
    color: #946b45;
    font-size: 3vh;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}
.detaliiContWelcomeImg{
    margin-top: 2vh;
    width: 50%;
}
.closeX{
  margin-left: 1.5vw;
  margin-top: 0px;
  width: 5vw;
}
.panouProgramariClientMainDiv{
    width: 50vw;
    height: 84vh;
}
.panouIstoricProgramariClientMainDiv{
    margin-top:3vh;
    height: 84vh;
}
.programariInsert{
    text-align: right;
    margin-right: 25vh;
    margin-top: 2vh;
}
.butonInsertProgramare:hover{
    background-color: #d69c3e;
}
.butonInsertProgramare{
    margin-bottom: 2vh;
    margin-right: -11vw;
    height: 5vh;
    background-color: #946b45;
    border-radius: 1vh;
    border: #946b45;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
}
