.divProgramareNoua{
    width: 100%;
    height: 100%;
}
.selectServiciiProgramareNoua{
    width: 99%;
}
.pProgramareNoua{
    color: #946b45;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.pProgramareNouaDuration{
    color: #946b45;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 45vh;
}
.form-control{
    display: none;
}
.rdtPicker {
    display: block;
}
.rdtDays {
    color: #946b45;
}
.rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover{
    background-color: #946b45;
}
.rdtPicker td.rdtToday:before{
    border-bottom: 7px solid #946b45;
}
.rdtPicker .rdtTimeToggle{
    display: none;
}
.butonFinalizeazaProgramare{
    text-align: center;
    border-radius: 2vh;
    color: white;
    background-color: #946b45;
    height: 6vh;
    width: 99%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 5vh;
    border: none;
    cursor: pointer;
}
.butonFinalizeazaProgramare:hover{
    background-color: #d69c3e;
}
.tabelProgramariClient{
    margin-top: 3vh;
}
.tabelProgramariIstoricClient{
    margin-top: 12vh;
}