.divRecenzieNoua{
    width: 81%;
    height: 100%;
    margin-top: 15vh;
}
.selectServiciiRecenzieNoua{
    width: 99%;
}
.pRecenzieNoua{
    color: #946b45;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.pRecenzieNouaDuration{
    color: #946b45;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 45vh;
}
.form-control{
    display: none;
}
.rdtPicker {
    display: block;
}
.rdtDays {
    color: #946b45;
}
.rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover{
    background-color: #946b45;
}
.rdtPicker td.rdtToday:before{
    border-bottom: 7px solid #946b45;
}
.rdtPicker .rdtTimeToggle{
    display: none;
}
.butonFinalizeazaRecenzie{
    text-align: center;
    border-radius: 2vh;
    color: white;
    background-color: #946b45;
    height: 6vh;
    width: 99%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 5vh;
    border: none;
    cursor: pointer;
}
.butonFinalizeazaRecenzie:hover{
    background-color: #d69c3e;
}
.mesajRecenzie{
    width: 98.5%;
    border-radius: 2vh;
    height: 7vh;
    background-color: #946b45;
    border: #946b45;
    color: white;
}