.rowDespreNoi1{
    display: flex;
    margin-top: 7vh;
    margin-bottom: 2vh;
    height: 40vh;
}
.rowDespreNoi2{
    display: flex;
    margin-bottom: 3vh;
    height: 40vh;
    margin-bottom: 12vh;
}
.columnDespreNoi1:first-child{
    width: 60%;
    text-align: justify;
}
.columnDespreNoi1:nth-child(2){
    width: 40%;
    margin-left: 7vw;
}
.columnDespreNoi2:first-child{
    width: 40%;
    text-align: justify;
}
.columnDespreNoi2:nth-child(2){
    width: 60%;
    text-align:justify;
}
.columnDespreNoi {
    width:100%;
    padding: 5px;
}
.columnDespreNoiText{
    margin-top: 9vh;
    font-family:'Times New Roman', Times, serif;
    font-size: 3vh;
    color:#946b45;
}

.imgDespreNoi{
    border-radius: 5vh;
    transition: 1s;
}
.imgDespreNoi:hover{
    border-radius: 0px;
    cursor: pointer;
}
.despreNoiH1{
    margin-top: 8vh;
    font-size: 4vh !important;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color:#946b45;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.despreNoiH1:hover{
    color: #d69c3e;
}