.adminRecenzii{
    height: 98vh;
    overflow-y: scroll;
}
.adminRecenziiPanou{
    margin-top: -10vh;
    width: 100vw;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.adminRecenzii::-webkit-scrollbar { 
    width: 12px;
	background-color: #F5F5F5;
}
.adminRecenzii::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1); 
}
.adminRecenzii::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.adminRecenzii::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.adminRecenziiRow{
    
    justify-content: center;
    text-align: center;
}

.pAdminRecenziiRow{
    color:#946b45;
    font-weight: bold;
    font-size: 3vh;
}
.randTabelRecenzii{
    background-color: #946b45;
}
.randDateTabelRecenzii{
    margin-top: 5vh;
    
}
.randDateTabelRecenziiMesaj{
    width: 15vw !important;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    border: none;
    
}
.randDateTabelRecenziiMesajMesaj{
    font-family: 'Times New Roman', Times, serif;
    width: 15vw !important;
    height: 5vh;
    word-wrap: break-word;
    border: none;
    overflow-y: scroll;  
    -ms-overflow-style: none; 
}
.randDateTabelRecenziiMesajMesaj::-webkit-scrollbar {
    display: none; 
  }
.hTabelRecenzii{
    width: 15.7vw;
    height: 5vh;
    color: white;
}
.tdButonRecenzii{
    background-color:#946b45;
    cursor: pointer;
    border: 3px solid #946b45;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.tdButonRecenzii:hover{
    background-color: #d69c3e;
    border: none;
}