.panouRecenziiMainDiv{
    font-family: 'Times New Roman', Times, serif;
    height: 99.9%;
    overflow-y: scroll;
}
.panouRecenziiMainDiv::-webkit-scrollbar { 
    width: 6px;
	background-color: #F5F5F5;
}
.panouRecenziiMainDiv::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.1); 
}
.panouRecenziiMainDiv::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.panouRecenziiMainDiv::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.panouRecenzieMainDiv{
    margin-top: 2vh;
    margin-left: 2vw;
}
.panouRecenzieMainDivLabel{
    color:#946b45;
    font-size: 2vh;
    font-weight: bold;
}
.panouRecenzieMainDivNotaText{
    margin-left: 1vh;
    color:#946b45;
    font-size: 2vh;
}
.panouRecenzieMainDivMesaj,.panouRecenzieMainDivNota{
    display:flex;
    width: 96%;
}
.panouRecenzieMainDivMesajText{
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 1vh;
    color:#946b45;
    font-size: 2vh;
    height: 5vh;
    width: 91%;
}
.panouRecenzieMainDivMesajText:hover{
    color: #d69c3e;
}
.hrPanouRecenzii{
    border-top:2px solid #946b45;
    margin-right: 1.5vw;
}
.popUpPanouRecenzieAngajat{
    width: 36.2vw;
    height: 10vh;
    background-color: #a3784f;
    margin-left: -1px;
    margin-top: -3px;
}
.popUpPanouRecenzieAngajatClose{
    cursor: pointer;
    margin-top: -1.5vh;
    margin-left: 34vw;
    color: white;
}
.popUpPanouRecenzieAngajatText{
    background-color: transparent;
    width: 96%;
    height: 65%;
    border: none;
    font-size: 2vh;
    color: white;
    margin-top: -3vh;
    margin-left: 1vw;
}
.popUpPanouRecenzieAngajatText::-webkit-scrollbar{
    display:none;
}
.pRecenziileMele{
    text-align: center;
    color: #946b45;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5vh;
}