.PanouServiciiMainDiv{
    margin-left: 3vw;
    margin-top: 3vh;
    width: 95%;
    height: 80%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.PanouServiciiMainDiv::-webkit-scrollbar { 
    width: 6px;
	background-color: #F5F5F5;
}
.PanouServiciiMainDiv::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1); 
}
.PanouServiciiMainDiv::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.PanouServiciiMainDiv::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.pServiciileMele{
    text-align: center;
    color: #946b45;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5vh;
}