.panouProgramariMainDiv{
    margin-top: 3vh;
    width: 100%;
    height: 88%;
    overflow-y: scroll;
}
.panouProgramariMainDiv::-webkit-scrollbar { 
    width: 6px;
	background-color: #F5F5F5;
}
.panouProgramariMainDiv::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1); 
}
.panouProgramariMainDiv::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.panouProgramariMainDiv::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.tabelProgramariAngajat{
    margin-left: 1.5vw;
}
.randTabelProgramariAngajat{
    background-color: #946b45;
}
.hTabelProgramariAngajat{
    width: 8.5vw;
    height: 5vh;
    color: white;
}
.randDateTabelProgramariAngajat td{
    text-align: center;
    color: #946b45;
}
.tdButonProgramariButtonAngajat{
    border: 3px solid #946b45;
    background-color: #946b45;
    cursor: pointer;
    margin-left: 2px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.tdButonProgramariButtonAngajat:hover{
    background-color: #d69c3e;;
    border: none;
}
.tdButonProgramariButtonAngajat1{
    width: 100%;
    border: none;
    background-color: transparent;
    margin-left: 2px;
    display: flex;
}
.check{
    text-align: center;
    color:green;
    width: 50%;
}
.close{
    text-align: center;
    color:red;
    width: 50%;
}
.iconCheck{
    cursor: pointer;
}
.iconClose{
    cursor: pointer;
}
.divDetalii{
    border: 1px #946b45 solid;
    background-color: white;
    position: fixed;
    margin-top: -90vh;
    margin-left: 35vw;
    height: 86vh;
    width: 30%;
}
.closeDetalii{
    margin-left: 90%;
    color:#946b45;
    font-weight: bold;
}
.detaliiRow{
    width: 100%;
    display: flex;
    margin-left: 2vw;

}
.labelData{
    width: 10%;
    color:#946b45;
    font-weight: bold;
}
.labelOra{
    width: 10%;
    color:#946b45;
    font-weight: bold;
}
.labelPret{
    width: 10%;
    color:#946b45;
    font-weight: bold;
}
.labelStatus{
    width: 12%;
    color:#946b45;
    font-weight: bold;
}
.labelServiciu{
    width: 15%;
    color:#946b45;
    font-weight: bold;
}
.labelClient{
    margin-top: 5vh;
    width: 40%;
    color:#946b45;
    font-weight: bold;
    font-size: 2.5vh;
    margin-left: 2vw;
}
.hrDetalii{
    width: 80%;
    margin-left: 2vw;
    color: #946b45;
    border-top: 2px solid ;
}
.contentNume{
    font-size: 2.vh;
    color: #946b45;
}