.panouDedicatAngajatMainDiv{
    margin-top: -10vh;
    width: 100vw  !important;
    height: 100vh !important;
    background-color: #faebd75c;
    font-family: 'Times New Roman', Times, serif;
}
.panouDedicatAngajatMainDivFirstRow{
    height: 50vh;
    display: flex;
}
.panouDedicatAngajatMainDivFirstRowFirstColumn{
    border-bottom: 2px solid #946b45;
    border-right: 2px solid #946b45;
    width: 40%;
}
.panouDedicatAngajatMainDivFirstRowSecondColumn{
    border-bottom: 2px solid #946b45;;
    width: 60%;
}
.panouDedicatAngajatMainDivSecondRow{
    display: flex;
    height: 50vh;
}
.panouDedicatAngajatMainDivSecondRowFirstColumn{
    border-right: 2px solid #946b45;
    width: 60%;
}
.panouDedicatAngajatMainDivSecondRowSecondColumn{
    width: 40%;
}
.panouDedicatAngajatMainDivThirdRow{
    text-align: center;
    margin-top: -52.5vh;
}
.panouDedicatAngajatButonDeconectare{
    cursor: pointer;
    font-size: 2.5vh;
    width: 20vw;
    height: 5vh;
    background-color: #946b45;
    border-radius:1vh;
    border: #946b45;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
}
.panouDedicatAngajatButonDeconectare:hover{
    background-color: #d69c3e;
}