
.panouDetaliiContMainDiv{
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.panouDetaliiContLastDiv,.panouDetaliiContDivNume,.panouDetaliiContDivPrenume,.panouDetaliiContDivTelefon,.panouDetaliiContDivEmail,.panouDetaliiContDivParola{
    display:flex;
    margin-top: 1vh;
}
.panouDetaliiContDivNume{
    margin-top: 3vh;
}
.panouDetaliiContImagine{
    width: 40%;
    height: 17vh;
}
.panouDetaliiContDivDescriere{
    width: 70%;
}

.labelNume,.labelPrenume,.labelTelefon,.labelEmail,.labelParola,.labelDescriere,.labelImagine{
    margin-left: 1.5vw;
    width: 15%;
    color:#946b45;
    font-size: 2vh;
    font-weight: bold; 
}
.labelDescriere{
    margin-right: 2vw;
}
.textNume,.textPrenume,.textTelefon,.textEmail,.textParola,.textDescriere{
    height: 3vh;
    width: 75%;
    background-color: #946b45;
    color: white;
    text-align: center;
    font-size: 2.2vh;
    overflow-y: scroll;
}
.textDescriere{
    width: 85.2%;
    height: 11vh;
    margin-left: 1.5vw;
    font-size: 2.2vh;
}
.textParola::-webkit-scrollbar,.textDescriere::-webkit-scrollbar,.textNume::-webkit-scrollbar,.textPrenume::-webkit-scrollbar,.textTelefon::-webkit-scrollbar,.textEmail::-webkit-scrollbar{
    display: none;
}
.panouImagineAngajat{
    margin-left: 1.5vw;
}
.butonActualizare{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 22vw;
    height: 4.5vh;
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    margin-top: 1vh;
    margin-left: 1.5vw;
    background-color: #946b45;
    border-radius: 1vh;
    border: none;
}
.butonActualizare:hover{
    background-color: #d69c3e;
}
.personal-image {
    text-align: center;
}
.personal-image input[type="file"] {
    display: none;
}
.personal-figure {
    position: relative;
}
.personal-avatar {
    margin-top: -1.5vh;
    cursor: pointer;
    width: 40vw;
    height: 17vh;
    box-sizing: border-box;
    border-radius: 100%;
    transition: all ease-in-out .3s;
}
 
.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: -1.2vh;
    width: 100%;
    height: 104%;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
}