.panouServiciuAngajatMainDiv{
    display: inline;
    width: 30% !important;
    height: 100%;
    margin-right: 1.5vw;
    
}
.panouServiciuAngajatImg{
    width: 100%;
    height: 85%;
}
.panouServiciuAngajatImagine{
    height: 100%;
    width:100%;
}
.panouServiciuAngajatDenumire{
    margin-top: 1.4vh;
    color: #946b45;
    text-align: center;
    font-weight: bold;
}