.Post{
    border: 1px #946b45 solid;
    width:52%;
    height: 100%;
    background-color: white;
    position: fixed;
    margin-top: -97vh;
    margin-left: 24vw;

}
.closeP{
    font-weight: bold;
    font-size: 3vh;
    color: #946b45;
    margin-top: 2vh;
    margin-left: 95%;
    cursor: pointer;
}
.PDFfirstrow{
    margin-top: 0vh;
    display: flex;
    width: 100%;

}
.logo{
    width: 50%;
}
.logo>img{
    margin-top: 5vh;
    width: 80%;
    height: 50%;
}
.PDFfirstrowsecondcolumn{
    width: 50%;
}
.title{
    margin-top: -2vh;
    color: #946b45;
    font-weight: bold;
}
.dataEmiterii{
    font-size: 2vh;
}
.totalPlata{
    margin-top: 7vh;
    display: flex;
    width: 90%;
    height: 5vh;
    background-color: #946b45;
    color:white;
}
.totalPlataP{
    width: 80%;
    margin-top: 1vh;
}
.totalPlataSuma{
    width: 20%;
    margin-top: 1vh;
}
.PDFsecondrow{
    margin-left: 3vw;
    margin-top: -1vh;
    display: flex;
}
.PDFsecondrowcolumn{
    width: 50%;
}
.furnizorclienthr{
    width: 80%;
    margin-left: 0;
    color: #946b45;
    border-top: 1px solid ;
}
.furnizorclientdetalii{
    width: 85%;
}
.denumirefurnizorclient{
    font-weight: bold;
    color: #946b45;
    font-size:2.5vh;
}
.mainDiv{
    display: flex;
    margin-top: 0vh;
}
.mainDivTable{
    margin-top: 2vh;
    width: 100%;
}
.hrTable{
    width: 1510%;
    margin-left: 0;
    color: #946b45;
    border-top: 1px solid ;
}
.mainDivBodyTable td{
    text-align: center;
}
.hrTable2{
    width: 1490%;
    margin-left: 0;
    border-top: 0.1px solid ;
    color:lightgrey;
}
.tbodyfinal{
    display: flex;
    margin-left: 60%;
}
.tbodyfinalP{
    color: #946b45;
    font-weight: bold;
}
.tbodyfinalS{
    margin-left: 8.5vw;
    font-weight: bold;
}
.buttonPDF{
    background-color: #946b45;
    border: none;
    color: white;
    height: 3vh;
    position: absolute;
    margin-top: -94vh;
    margin-left: 400px;
}