.Carusel{
    font-family: sans-serif;
    height: 100vh;
    width: 82vw;
    margin-top:7vh;
    margin-left: 0vw;
}

img{
    max-width:100%;
    max-height:100%;
}

.imgCarusel{
    max-height: 400%;
    width: 150%;
    height: 100vh !important;
}

html{
    /*background-color: #faebd75c;*/
    background-color: white;
}

.textS{
    justify-content: center;
    align-items: center;
    display: flex;
    color:#946b45;
    margin-top: -27vh;
    margin-bottom: 5vh;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}

.textP{
    justify-content: center;
    align-items: center;
    display: flex;
    color:#946b45;
    margin-top: -3vh;
    margin-bottom: 5vh;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}

.textS:hover,.textP:hover{
    color: #d69c3e;
}

.row {
    display: flex;
    margin-bottom: 4vh;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}

.imgAcasa{
    border-radius: 5vh;
    transition: 1s;
}
  
.imgAcasa:hover{
    border-radius:0;
}
  
.pAcasa{
    color:#946b45;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
}

.rec.rec-arrow {
    background-color: transparent;
    color: #946b45;
    border: 1px solid #946b45;
}

.rec.rec-dot{
    border: 1px solid #946b45;
    background-color: transparent;
    box-shadow:0 0 1px 2px #946b45;
}
.rec.rec-dot:hover,.rec.rec-dot:focus,.rec.rec-dot_active{
    border: 1px solid #946b45;
    background-color: #946b45;
    box-shadow:0 0 1px 2px #946b45;
}

.rec.rec-arrow{
    visibility: hidden;
}