.mainDivPanouAutentificare{
    justify-content: center;
    margin-left: -0.9vw; 
}
.divPanouAutentificareInregistrare{
    width: 82.5vw;
    height: 40vh;
    margin-bottom: 45vh;
}
.registration{
    margin-top: 5vh;
    margin-left: 22vw;
    width: 40vw;
    height: 50vh;
    text-align: center;
    border: 2px solid #a3784f;
}
.Registration{
    margin-left: -3vw;
    color:#a3784f;
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;
}
.EmailReg,.NumeReg,.PrenumeReg,.TelefonReg{
    margin-top: 3vh;
    display: flex;
    margin-left: 5vw;
}
.ParolaReg{
    display: flex;
    margin-left: 5vw;
}
.Email,.Parola,.Nume,.Prenume,.Telefon{
    text-align: left;
    font-weight: bold;
    color: #a3784f;
    width: 18%;
}
.inputEmailReg,.inputParolaReg,.inputNumeReg,.inputPrenumeReg,.inputTelefonReg{
    width: 60%;
    background-color: transparent;
    border: 2px solid #a3784f ;
}
.ButtonReg{
    margin-top: 3vh;
}
.registerButton,.autentificareButon{
    border-radius: 1vh;
    border: #a3784f;
    color: white;
    font-size: 2.5vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: #a3784f;
    height: 5vh;
    margin-left: -2vw;
    width: 28vw;
    cursor: pointer;
}
.registerButton:hover,.autentificareButon:hover{
    background-color: #d69c3e;
}
.autentificareButon{
    margin-top: 5vh;
}
.login{
    margin-top: 5vh;
    margin-left: 22vw;
    width: 40vw;
    height: 25vh;
    text-align: center;
    border: 2px solid #a3784f;
}
.EmailAut,.ParolaAut{
    margin-top: 3vh;
    display: flex;
    margin-left: 5vw;
}
.Nume,.Prenume,.Telefon,.Email,.Parola{
    font-family: 'Times New Roman', Times, serif;
}