.adminCategoriiPanou{
    margin-top: -10vh;
    width: 100vw;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.adminCategoriiNavBar{
    width: 30%;
}
.adminCategoriiRow{
    width: 50%;
    height: 85vh;
    margin-top: 2vh;
    margin-left: -9vw;
    text-align: left;
    /* border-radius: 5vh; */
    color: white;
    overflow-y: scroll; 
}
.adminCategoriiRow::-webkit-scrollbar { 
    width: 6px;
	background-color: #F5F5F5;
}
.adminCategoriiRow::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1); 
}
.adminCategoriiRow::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.adminCategoriiRow::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.pAdminCategoriiRow{
    color:#946b45;
    font-size: 3vh;
}
.pAdminCategorieRow{
    margin-top: 0vh;
    margin-bottom: 1vh;
    font-size: 3vh;
}
.hrCategorii{
    width: 25vw;
    margin-left: -4vw;
    height: 0.1vh;
    background-color:#946b45;
}
.categorieChild{
    height:8vh;
    color: #946b45;
    margin-bottom: 5vh;
}
.adminCategoriiRow2{
    text-align: center;
    justify-content: center;
    margin-top: 3.5vh;
    margin-left: 0.48vw;
    width: 28%;
    height: 7vh;
    background-color: #946b45;
    border-radius: 2vh;
}
.adminCategoriiRow2:hover{
    background-color: #d69c3e;
}
.pAdminCategoriiInsertButton{
    cursor: pointer;
    color:white;
    font-size: 3vh;
    margin-top: 1.7vh;
    margin-left: 3vw;
    width: 80%;
}