.panouCategorii{
    margin-top: 2vh;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
textarea{
    font-family: 'Times New Roman', Times, serif;
}
.panouCategorieP{
    color: #946b45;
    font-size: larger;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.firstRowPanouCategorii{
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
}
.secondRowPanouCategorii{
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    margin-left: 13vh;
    margin-bottom: 5vh;
    
}
.firstRowPanouCategoriiFirstColumn{
    width: 10%;
    text-align: left;
    margin-top: 1.5vh;
}
.firstRowPanouCategoriiSecondColumn{
    width: 90%;
    
}
.firstRowPanouCategoriiFirstColumnLabel{
    width: 10%;
    color: #946b45;
    font-weight: bold;
}
.firstRowPanouCategoriiTextBoxDenumire{
    color:#946b45;
    font-size: 2vh;
    height: 5vh;
    width: 100%;
    justify-content: center;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
.firstRowPanouCategoriiTextBoxDescriere{
    font-size: 2vh;
    color:#946b45;
    width: 100.25%;
    height: 10vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;

}
.firstRowPanouCategoriiTextBoxImagine{
    color:#946b45;
    font-size: 2vh;
    width: 30vw;
    height: 40vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
.firstRowPanouCategoriiButton{
    text-align: center;
    width: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.firstRowPanouCategoriiSubmitButton1,.firstRowPanouCategoriiSubmitButton2,.firstRowPanouClientInsertButton{
    height: 5vh;
    width: 50%;
    background-color: #946b45;
    color: white;
    font-weight: bold;
    border: #946b45;
    border-radius: 2vh;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.firstRowPanouCategoriiSubmitButton2{
    margin-right: -0.5vw;
    margin-left: 1vw;
}
.firstRowPanouCategoriiSubmitButton1:hover,.firstRowPanouCategoriiSubmitButton2:hover{
    background-color: #d69c3e;
}
.firstRowPanouCategoriiInsertButton{
    margin-top: 5vh;
    margin-left: 20vw;
}
.firstRowPanouCategoriiInsertButton:hover{
    background-color: #d69c3e;
}
.adminCategorieSpecificataColumn{
    width: 60%;
}
.secondRowPanouCategorieAdd{
    margin-top: -1vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    width: 101%;
}
