.panouServicii{
    width: 61.2vw;
    height: 82vh;
    overflow-y: scroll;
}
.panouServicii::-webkit-scrollbar { 
    width: 6px;
	background-color: #F5F5F5;
}
.panouServicii::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.1); 
}
.panouServicii::-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.panouServicii::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.panouServiciuP{
    color: #946b45;
    font-size: larger;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.firstRowPanouServicii1{
    width: 98%;
    color:#946b45;
    font-weight: bold;
    display: flex;
}
.firstRowPanouServicii{
    width: 98%;
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
}
.secondRowPanouServicii{
    margin-top: 3vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    margin-left: 13vh;
    margin-bottom: 5vh;
}
.firstRowPanouServiciiFirstColumn{
    width: 10%;
    text-align: left;
    margin-top: 1.5vh;
}
.firstRowPanouServiciiSecondColumn{
    width: 90%;
    
}
.firstRowPanouServiciiFirstColumnLabel{
    width: 10%;
    color: #946b45;
    font-weight: bold;
}
.firstRowPanouServiciiTextBoxDenumire{
    color:#946b45;
    font-size: 2vh;
    height: 5vh;
    width: 100%;
    justify-content: center;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
.firstRowPanouServiciiTextBoxDescriere{
    font-size: 2vh;
    color:#946b45;
    width: 100.25%;
    height: 10vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;

}
.firstRowPanouServiciiTextBoxImagine{
    color:#946b45;
    font-size: 2vh;
    width: 30vw;
    height: 40vh;
    background-color: #faebd75c;
    border: #946b45;
    border-radius: 2vh;
    border-style: solid;
    border-width:0.4vh;
    text-align: center;
}
.firstRowPanouServiciiButton{
      text-align: center;
    width: 100%;
    display: flex;
}
.firstRowPanouServiciiSubmitButton1,.firstRowPanouServiciiSubmitButton2,.firstRowPanouClientInsertButton{
    height: 5vh;
    width: 50%;
    background-color: #946b45;
    color: white;
    font-weight: bold;
    border: #946b45;
    border-radius: 2vh;
    cursor: pointer;
    
}
.firstRowPanouServiciiSubmitButton2{
    margin-right: 7px;
    margin-left: 1vw;
}
.firstRowPanouServiciiSubmitButton1:hover,.firstRowPanouServiciiSubmitButton2:hover{
    background-color: #d69c3e;
}
.firstRowPanouServiciiInsertButton{
    margin-top: 5vh;
    margin-left: 20vw;
}
.adminServiciuSpecificatColumn{
    width: 60%;

}
.adminAdaugareServiciuColumn{
    width: 61.2%;
}
.secondRowPanouServiciuAdd{
    margin-top: -1vh;
    color:#946b45;
    font-weight: bold;
    display: flex;
    width: 99.1%;
}
.selectServicii{
    text-align: center;
    border-radius: 2vh;
    color: white;
    background-color: #946b45;
    height: 7vh;
    width: 101%;
    font-family: 'Times New Roman', Times, serif;
}