.navBar_body {
  z-index: 2;
  display: inline;
  background: #946b45;
  border-radius: 0 0 2vh 2vh;
  top: 0px;
  position: fixed;
  width: 82.2vw !important;
  height: 10vh;
}

.navBar_p {
  display: inline;
  margin-left: 4.5vw;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
}
.navBar_p_active {
  color: aquamarine;
}
.navBar_img {
  height: 12.5vh;
  width: 20vw;
  margin-left: 0;
  border-radius: 16px;
  cursor: auto;
}
