.adminProgramariPanou{
    margin-top: -10vh;
    width: 100vw;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.adminProgramari{
    height: 98vh;
    width: 80vw;
    overflow-y: scroll;
}
.adminProgramari::-webkit-scrollbar { 
    width: 12px;
	background-color: #F5F5F5;
}
.adminProgramari::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1); 
}
.adminProgramari:-webkit-scrollbar-thumb {
    background-color: #a3784f;
}
.adminProgramari::-webkit-scrollbar-thumb:hover {
    background-color: #946b45;
}
.adminProgramariRow{
    justify-content: center;
    text-align: center;
}

.pAdminProgramariRow{
    color:#946b45;
    font-weight: bold;
    font-size: 3vh;
}
.randTabelProgramari{
    background-color: #946b45;
}
.randDateTabelProgramari,td{
    margin-top: 5vh;
    font-family: 'Times New Roman', Times, serif;
}
.hTabelProgramari{
    width: 8.5vw;
    height: 5vh;
    color: white;
}
.tdButonProgramari{
    border-color: #946b45;
    background-color: #faebd75c;
    cursor: pointer;
    border: 3px solid #946b45;
    font-weight: bold;
    color: #946b45
}
.tdProgramariButon{
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    
}
.tdButonProgramariButton{
    border: 3px solid #946b45;
    background-color:#946b45;
    cursor: pointer;
    margin-left:2px;
    font-weight: bold;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.tdButonProgramariButton:hover{
    background-color: #d69c3e;;
    border: none;
}
.modalProgramari{
    background-color: #946b45;
    height: 20vh;
    color: white;
    position: absolute;
    width: 79.2%;
    margin-top: 1vh;
}
.pModalProgramari{
    font-weight: bold;
    width: 90%;
    margin-left: 4vw;
}
.closeModalProgramari{
    width: 4%;
}
.modalProgramariRow{
    display: flex;
    margin-bottom: -5vh;
}
.modalProgramariSecondRow{
    margin-top: 5vh;
}